<section>
  <div class="page-header">
    <h1>Downloads</h1>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Topic</th>
          <th>Url</th>
          <th>created</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="download in vm.downloads" ng-click="vm.viewDetail(download._id)">
          <td>{{$index+1}}</td>
          <td style="text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;">{{vm.subStr(download.title)}}</td>
          <td>{{vm.subStr(download.url)}}</td>
          <td>{{download.created | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="list-group">
    <a ng-repeat="download in vm.downloads"
       ui-sref="downloads.view({ downloadId: download._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="download.created | date:'mediumDate'"></span>
        by
        <span ng-if="download.user" ng-bind="download.user.displayName"></span>
        <span ng-if="!download.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="download.name"></h4>
    </a>
  </div> -->
  <div class="alert alert-warning text-center" ng-if="vm.downloads.$resolved && !vm.downloads.length">
    No Downloads yet, why don't you
    <a ui-sref="downloads.create">create one</a>?
  </div>
</section>